
<div id="content-wrapper">
  <div class="container ">
    <section id="main-content">
      <h1>Cheat Sheet Conventions</h1>

<p>
  <strong>Bold</strong> words are what is really important e.g.
  the command and concept shown in the usage category. In the code usage and
  example columns these highlight the main part of the concept, like this:
  <code>general_stuff<strong>.concept</strong></code>.
  In the same columns <code><em>italic_words</em></code> mark the
  arguments/parameters of a command/method.
</p>

<p>
  However <em>italic words</em> in the descriptions or general text denote
  more general concepts or concepts explained elsewhere in this cheat
  sheet or in general.
</p>


<h1 id="ruby">Ruby Basics</h1>

<p>
  Ruby is the programming language Ruby on Rails is written in. So most
  of the time you will be writing Ruby code. Therefore it is good to
  grasp the basics of Ruby. If you just want to play with Ruby, type
  <strong>irb</strong> into your console to start interactive ruby. There
  you can easily experiment with Ruby. To leave irb, type
  <strong>exit</strong>.
</p>

<p>
  This is just a very small selection of concepts. This is especially
  true later on when we talk about what Arrays, Strings etc. can do.
  For more complete information have a look at
  <a href="http://ruby-doc.org/">ruby-doc</a> or search with your favorite
  search engine!
</p>








<footer>
  <div class="footer-constrain">
    <p>created by <a href="http://pragtob.info">Tobias Pfeiffer</a></p>
    <ul class="footer-links">
      <li><a href="#">About</a></li>
      <li class="text-muted">·</li>
      <li><a href="#">Resources</a></li>
      <li class="text-muted">·</li>
      <li><a href="http://pragtob.wordpress.com/">Blog</a></li>
    </ul>
  </div>
</footer>